<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>studentManagementSystem</display-name>
  <servlet>
    <servlet-name>admAcc</servlet-name>
    <servlet-class>com.studentManagementSystem.AdmAccCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admAcc</servlet-name>
    <url-pattern>/jsp/admAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admLog</servlet-name>
    <servlet-class>com.studentManagementSystem.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admLog</servlet-name>
    <url-pattern>/jsp/admLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stdLog</servlet-name>
    <servlet-class>com.studentManagementSystem.StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stdLog</servlet-name>
    <url-pattern>/jsp/stdLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StdSignup</display-name>
    <servlet-name>StdSignup</servlet-name>
    <servlet-class>com.studentManagementSystem.StdSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StdSignup</servlet-name>
    <url-pattern>/jsp/StdSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.studentManagementSystem.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/jsp/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StdDetailsAdding</display-name>
    <servlet-name>StdDetailsAdding</servlet-name>
    <servlet-class>com.studentManagementSystem.StdDetailsAdding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StdDetailsAdding</servlet-name>
    <url-pattern>/jsp/StdDetailsAdding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StdDetailsUpdate</display-name>
    <servlet-name>StdDetailsUpdate</servlet-name>
    <servlet-class>com.studentManagementSystem.StdDetailsUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StdDetailsUpdate</servlet-name>
    <url-pattern>/jsp/StdDetailsUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.studentManagementSystem.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/jsp/logout</url-pattern>
  </servlet-mapping>
</web-app>